
{% extends 'homePage.html' %}

{% block content %}
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>MUSHROOM CREPE</div>
            <!-- <div class='ingredients'>Onions, Mushrooms, Mozzarella, Tomatoes, Greenpeppers, Olives, Pineapple</div> -->
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs150</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>CHICKEN CREPE</div>
            <!-- <div class='ingredients'>Onions, Mushrooms, Mozzarella, Tomatoes, Greenpeppers, Olives, Pineapple</div> -->
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs165</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>HAM CREPE</div>
            <!-- <div class='ingredients'>Onions, Mushrooms, Mozzarella, Tomatoes, Greenpeppers, Olives, Pineapple</div> -->
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs165</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>SEAFOOD CREPE</div>
            <!-- <div class='ingredients'>Onions, Mushrooms, Mozzarella, Tomatoes, Greenpeppers, Olives, Pineapple</div> -->
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs185</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>CALZONE</div>
            <div class='ingredients'>Gruyere, Egg</div>
            <div class='meat'>
                <div><input type='checkbox'>Chicken</div>
                <div><input type='checkbox'>Ham</div>
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs345</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>CALZONI DE NAPLES</div>
            <div class='ingredients'>Tomato, Salami, Mozzarella, Emmental, Onions, Capers</div>
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs360</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
{% endblock %}