{% extends 'homePage.html' %}

{% block content %}
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>PARISIAN SALED</div>
            <div class='ingredients'>Maize, Emmental, Egg, Lettuce</div>
            <div class='meat'>
                <div><input type='checkbox'>Ham</div>
                <div><input type='checkbox'>Chicken</div>
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs210</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>MOZZARELLA TOMATO SALAD</div>
            <div class='ingredients'>Lettuce, Tomato, Emmental, Egg, Lettuce</div>
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs220</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>SUMMER SALAD</div>
            <div class='ingredients'>Lettuce, Crab Stick, Tuna, Green Olives, Gherkins, Carrots</div>
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs195</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>HOME SALAD</div>
            <div class='ingredients'>Lettuce, Gherkins, Green Olives, Dried Grapes, Onions, Tomato, Bacon, Croutons</div>
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs215</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
<div class='all'>
    <div class="item-bg">
        <div> 
            <div class='pizza-name'>CHEF SALAD</div>
            <div class='ingredients'>Lettuce, Carrots, Red Cabbage, Dried Prunes, Green Olives, Apricots, Dried Tomato, Feta, Tournesol, Sesame</div>
            <div class='meat'>
                <!-- <div><input type='checkbox'>Bacon</div> -->
                <!-- <div><input type='checkbox'>Chicken</div> -->
                <!-- <div><input type='checkbox'>Tuna</div> -->
            </div>
        </div>
        <div>
            <!-- <div class='size'>
                <div><input type='checkbox'>Mini </div>
                <div><input type='checkbox'>Regular </div>
                <div><input type='checkbox'>Family </div>
            </div> -->
            <div class='prices'>
                <div>Rs215</div>
                <!-- <div>Rs380</div>
                <div>Rs570</div> -->
            </div>
            <div class='addcart'>Add to cart
            </div>
        </div>
    </div>
</div>
{% endblock %}